<!-- <body class="d-flex flex-column min-vh-100">
    
</body> -->
<footer class="footer">
    <div class="container text-center">
        Powered by <a href="https://finnhub.io">Finnhub.io</a>
    </div>
</footer>

<!-- <body class="footer">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Powered by
            <a href="https://finnhub.io">Finnhub.io</a>
        </div>
    </footer>
</body> -->